In [1]:
import pandas as pd

In [52]:
table = {'id': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100],
         'length': [5.5, 7.5, 6.5, 6, 5, 6, 5.5, 6, 7.5, 7,
                    6, 7, 6.5, 6.5, 5, 3, 4.5, 5, 6.5, 5,
                    8, 6.5, 8, 9, 8.5, 6, 6.5, 6, 6.5, 5,
                    9, 7.5, 9, 7, 6.5, 6, 3.5, 7, 6.5, 5.5, 
                    7.5, 8, 4.5, 4.5, 5, 5.5, 5.5, 5, 7, 6,
                    7, 8.5, 7.5, 8.5, 10, 8, 7, 4.5, 5.5, 5,
                    8, 3.5, 5.5, 5.5, 4.5, 10, 8, 7 ,6, 10.5,
                    2.5, 4, 3.5, 4, 8, 7.5, 5.5, 6.5, 4.5, 6.5,
                    6.5, 5.5, 6.5, 5, 4.5, 7.5, 5.5, 3.5, 5.5, 5,
                    7, 4.5, 6, 7.5, 8, 9, 6.5, 5.5, 7, 7.5],
         
         'width': [3, 2.5, 2.5, 3, 2, 2.5, 3, 2.5, 3, 2,
                   2.5, 3, 2, 2.5, 2.5, 2.5, 2, 2, 3, 2,
                   3.5, 2.5, 5, 3.5, 3, 2, 3, 2, 2, 2.5,
                   3, 2.5, 2.5, 2.5, 3.5, 2, 2, 2.5, 2, 2.5,
                   4, 3, 2.5, 2, 2.5, 2.5, 3, 2.5, 2, 2.5,
                   3, 2.5, 3.5, 2.5, 3.5, 3.5, 2, 2, 2, 2,
                   3, 2.5, 2.5, 2, 2, 3.5, 3, 3, 3, 3,
                   1.5, 2.5, 2, 2, 3, 2.5, 3, 2.5, 2, 3.5,
                   2.5, 3, 3, 2, 2, 3, 2.5, 2, 3, 3,
                   2.5, 1.5, 3, 4, 3, 3, 3, 2.5, 2.5, 3]}

In [53]:
data = pd.DataFrame(table)

In [54]:
data

     id  length  width
0     1     5.5    3.0
1     2     7.5    2.5
2     3     6.5    2.5
3     4     6.0    3.0
4     5     5.0    2.0
..  ...     ...    ...
95   96     9.0    3.0
96   97     6.5    3.0
97   98     5.5    2.5
98   99     7.0    2.5
99  100     7.5    3.0

[100 rows x 3 columns]

In [55]:
compression_opts = dict(method='zip',
                        archive_name='out.csv')

In [56]:
data.to_csv('out.zip', index=False,
          compression=compression_opts)